--
-- PostgreSQL database dump
--

\restrict Nxlc7MIg5q0lIonISUvJZC6mLp1vGSbvd1BaCZ9oreNFFtdhCYLniv6sUghPXd2

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: approvalaction; Type: TYPE; Schema: public; Owner: pouser
--

CREATE TYPE public.approvalaction AS ENUM (
    'APPROVE',
    'REJECT',
    'RETURN',
    'DELEGATE'
);


ALTER TYPE public.approvalaction OWNER TO pouser;

--
-- Name: auditaction; Type: TYPE; Schema: public; Owner: pouser
--

CREATE TYPE public.auditaction AS ENUM (
    'CREATED',
    'UPDATED',
    'SUBMITTED',
    'APPROVED',
    'REJECTED',
    'RETURNED',
    'CANCELLED',
    'CLOSED',
    'DELEGATED',
    'COMMENT'
);


ALTER TYPE public.auditaction OWNER TO pouser;

--
-- Name: popriority; Type: TYPE; Schema: public; Owner: pouser
--

CREATE TYPE public.popriority AS ENUM (
    'NORMAL',
    'URGENT'
);


ALTER TYPE public.popriority OWNER TO pouser;

--
-- Name: postatus; Type: TYPE; Schema: public; Owner: pouser
--

CREATE TYPE public.postatus AS ENUM (
    'DRAFT',
    'SUBMITTED',
    'L1_APPROVED',
    'L2_APPROVED',
    'L3_APPROVED',
    'APPROVED',
    'REJECTED',
    'RETURNED',
    'CANCELLED',
    'CLOSED',
    'l4_approved',
    'l5_approved',
    'L4_APPROVED',
    'L5_APPROVED'
);


ALTER TYPE public.postatus OWNER TO pouser;

--
-- Name: userrole; Type: TYPE; Schema: public; Owner: pouser
--

CREATE TYPE public.userrole AS ENUM (
    'REQUESTER',
    'L1_APPROVER',
    'L2_APPROVER',
    'L3_APPROVER',
    'L4_APPROVER',
    'FINANCE',
    'ADMIN',
    'md_owner',
    'MD_OWNER'
);


ALTER TYPE public.userrole OWNER TO pouser;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: pouser
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO pouser;

--
-- Name: approval_chains; Type: TABLE; Schema: public; Owner: pouser
--

CREATE TABLE public.approval_chains (
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    id uuid NOT NULL,
    name character varying(200) NOT NULL,
    po_category character varying(100) NOT NULL,
    min_amount numeric(15,2),
    max_amount numeric(15,2),
    required_levels integer NOT NULL,
    sla_hours integer NOT NULL,
    is_active boolean NOT NULL
);


ALTER TABLE public.approval_chains OWNER TO pouser;

--
-- Name: approval_steps; Type: TABLE; Schema: public; Owner: pouser
--

CREATE TABLE public.approval_steps (
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    id uuid NOT NULL,
    purchase_order_id uuid NOT NULL,
    approver_id uuid NOT NULL,
    level integer NOT NULL,
    action public.approvalaction NOT NULL,
    comments text,
    acted_at timestamp without time zone NOT NULL,
    delegated_from_id uuid
);


ALTER TABLE public.approval_steps OWNER TO pouser;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: pouser
--

CREATE TABLE public.audit_logs (
    id uuid NOT NULL,
    purchase_order_id uuid NOT NULL,
    actor_id uuid NOT NULL,
    action public.auditaction NOT NULL,
    from_status public.postatus,
    to_status public.postatus,
    comments text,
    extra_data json,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO pouser;

--
-- Name: budget_categories; Type: TABLE; Schema: public; Owner: pouser
--

CREATE TABLE public.budget_categories (
    id uuid NOT NULL,
    site_id uuid NOT NULL,
    project_id uuid,
    category character varying(100) NOT NULL,
    sub_category character varying(100),
    budget_amount numeric(15,2),
    spent_amount numeric(15,2) DEFAULT '0'::numeric,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.budget_categories OWNER TO pouser;

--
-- Name: departments; Type: TABLE; Schema: public; Owner: pouser
--

CREATE TABLE public.departments (
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    id uuid NOT NULL,
    name character varying(120) NOT NULL,
    code character varying(20) NOT NULL,
    is_active boolean NOT NULL
);


ALTER TABLE public.departments OWNER TO pouser;

--
-- Name: po_attachments; Type: TABLE; Schema: public; Owner: pouser
--

CREATE TABLE public.po_attachments (
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    id uuid NOT NULL,
    purchase_order_id uuid NOT NULL,
    filename character varying(255) NOT NULL,
    s3_key character varying(500) NOT NULL,
    content_type character varying(100) NOT NULL,
    size_bytes integer NOT NULL,
    uploaded_by_id uuid NOT NULL
);


ALTER TABLE public.po_attachments OWNER TO pouser;

--
-- Name: po_line_items; Type: TABLE; Schema: public; Owner: pouser
--

CREATE TABLE public.po_line_items (
    id uuid NOT NULL,
    purchase_order_id uuid NOT NULL,
    sort_order integer NOT NULL,
    description text,
    unit_of_measure character varying(30) NOT NULL,
    quantity numeric(12,3),
    unit_rate numeric(15,2),
    amount numeric(15,2),
    gst_percent numeric(5,2),
    gst_amount numeric(15,2),
    total numeric(15,2)
);


ALTER TABLE public.po_line_items OWNER TO pouser;

--
-- Name: projects; Type: TABLE; Schema: public; Owner: pouser
--

CREATE TABLE public.projects (
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    id uuid NOT NULL,
    name character varying(200) NOT NULL,
    code character varying(30) NOT NULL,
    cost_centre character varying(30) NOT NULL,
    is_active boolean NOT NULL
);


ALTER TABLE public.projects OWNER TO pouser;

--
-- Name: purchase_orders; Type: TABLE; Schema: public; Owner: pouser
--

CREATE TABLE public.purchase_orders (
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    id uuid NOT NULL,
    po_number character varying(30) NOT NULL,
    status public.postatus NOT NULL,
    priority public.popriority NOT NULL,
    requester_id uuid NOT NULL,
    department_id uuid,
    project_id uuid,
    vendor_id uuid NOT NULL,
    po_category character varying(100) NOT NULL,
    description text,
    delivery_address text,
    required_by timestamp without time zone NOT NULL,
    payment_terms character varying(100),
    subtotal numeric(15,2),
    gst_amount numeric(15,2),
    total_amount numeric(15,2),
    current_level integer NOT NULL,
    required_levels integer NOT NULL,
    rejection_reason text,
    return_reason text,
    submitted_at timestamp without time zone,
    approved_at timestamp without time zone,
    rejected_at timestamp without time zone,
    closed_at timestamp without time zone,
    site_id uuid,
    sub_category character varying(100),
    exceeds_budget boolean DEFAULT false NOT NULL,
    budget_category_id uuid,
    penalty_clauses text,
    delivery_terms text,
    warranty_terms text,
    special_conditions text
);


ALTER TABLE public.purchase_orders OWNER TO pouser;

--
-- Name: sites; Type: TABLE; Schema: public; Owner: pouser
--

CREATE TABLE public.sites (
    id uuid NOT NULL,
    name character varying(200) NOT NULL,
    code character varying(20) NOT NULL,
    location character varying(200),
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


ALTER TABLE public.sites OWNER TO pouser;

--
-- Name: users; Type: TABLE; Schema: public; Owner: pouser
--

CREATE TABLE public.users (
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    id uuid NOT NULL,
    email character varying(200) NOT NULL,
    full_name character varying(200) NOT NULL,
    hashed_password character varying(200) NOT NULL,
    role public.userrole NOT NULL,
    department_id uuid,
    phone character varying(20),
    is_active boolean NOT NULL,
    is_superuser boolean NOT NULL,
    delegate_id uuid,
    site_id uuid
);


ALTER TABLE public.users OWNER TO pouser;

--
-- Name: vendors; Type: TABLE; Schema: public; Owner: pouser
--

CREATE TABLE public.vendors (
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    id uuid NOT NULL,
    name character varying(200) NOT NULL,
    gst_number character varying(20),
    email character varying(200),
    phone character varying(20),
    address text,
    is_active boolean NOT NULL
);


ALTER TABLE public.vendors OWNER TO pouser;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: pouser
--

COPY public.alembic_version (version_num) FROM stdin;
c8e054023c8b
\.


--
-- Data for Name: approval_chains; Type: TABLE DATA; Schema: public; Owner: pouser
--



--
-- Data for Name: approval_steps; Type: TABLE DATA; Schema: public; Owner: pouser
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: pouser
--



--
-- Data for Name: budget_categories; Type: TABLE DATA; Schema: public; Owner: pouser
--



--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: pouser
--

COPY public.departments (created_at, updated_at, id, name, code, is_active) FROM stdin;
2026-05-29 13:20:51.595503	2026-05-29 13:20:51.595504	ea83bb79-c253-4601-a436-843de3897e9a	Civil Engineering	CIVIL	t
2026-05-29 13:20:51.59555	2026-05-29 13:20:51.595551	44562022-a2f5-4814-b36a-6503c308ca4c	Electrical	ELEC	t
2026-05-29 13:20:51.595579	2026-05-29 13:20:51.595579	c23548ec-5a0b-4320-b9b3-3b0a52fefde1	Administration	ADMIN	t
2026-05-29 13:20:51.595605	2026-05-29 13:20:51.595606	1459faa2-d27d-4049-a9f0-0ff9c1390859	Procurement	PROC	t
\.


--
-- Data for Name: po_attachments; Type: TABLE DATA; Schema: public; Owner: pouser
--



--
-- Data for Name: po_line_items; Type: TABLE DATA; Schema: public; Owner: pouser
--



--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: pouser
--



--
-- Data for Name: purchase_orders; Type: TABLE DATA; Schema: public; Owner: pouser
--



--
-- Data for Name: sites; Type: TABLE DATA; Schema: public; Owner: pouser
--

COPY public.sites (id, name, code, location, is_active, created_at, updated_at) FROM stdin;
b59239f5-a676-44fb-bd10-d3593dd2c8f6	Shambhaji Nagar	S001	Shambhaji Nagar, Maharashtra	t	2026-06-03 11:05:10.696391	2026-06-03 11:05:10.696397
259be70b-e131-4a2e-b8ce-42eb9e41179c	Nepal	S002	Nepal	t	2026-06-03 11:05:10.69922	2026-06-03 11:05:10.699222
d91581d6-cd17-4f60-99a2-db0b914ba970	Bangalore	S003	Bangalore, Karnataka	t	2026-06-03 11:05:10.700411	2026-06-03 11:05:10.700413
f4a1f966-c2fd-487d-8497-79fc00df2a88	Assam	S004	Assam	t	2026-06-03 11:05:10.701378	2026-06-03 11:05:10.701379
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: pouser
--



--
-- Data for Name: vendors; Type: TABLE DATA; Schema: public; Owner: pouser
--



--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: approval_chains approval_chains_pkey; Type: CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.approval_chains
    ADD CONSTRAINT approval_chains_pkey PRIMARY KEY (id);


--
-- Name: approval_steps approval_steps_pkey; Type: CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.approval_steps
    ADD CONSTRAINT approval_steps_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: budget_categories budget_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.budget_categories
    ADD CONSTRAINT budget_categories_pkey PRIMARY KEY (id);


--
-- Name: departments departments_code_key; Type: CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_code_key UNIQUE (code);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: po_attachments po_attachments_pkey; Type: CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.po_attachments
    ADD CONSTRAINT po_attachments_pkey PRIMARY KEY (id);


--
-- Name: po_line_items po_line_items_pkey; Type: CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.po_line_items
    ADD CONSTRAINT po_line_items_pkey PRIMARY KEY (id);


--
-- Name: projects projects_code_key; Type: CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_code_key UNIQUE (code);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: purchase_orders purchase_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_pkey PRIMARY KEY (id);


--
-- Name: sites sites_code_key; Type: CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.sites
    ADD CONSTRAINT sites_code_key UNIQUE (code);


--
-- Name: sites sites_pkey; Type: CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.sites
    ADD CONSTRAINT sites_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vendors vendors_pkey; Type: CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.vendors
    ADD CONSTRAINT vendors_pkey PRIMARY KEY (id);


--
-- Name: ix_approval_steps_purchase_order_id; Type: INDEX; Schema: public; Owner: pouser
--

CREATE INDEX ix_approval_steps_purchase_order_id ON public.approval_steps USING btree (purchase_order_id);


--
-- Name: ix_audit_logs_purchase_order_id; Type: INDEX; Schema: public; Owner: pouser
--

CREATE INDEX ix_audit_logs_purchase_order_id ON public.audit_logs USING btree (purchase_order_id);


--
-- Name: ix_departments_name; Type: INDEX; Schema: public; Owner: pouser
--

CREATE INDEX ix_departments_name ON public.departments USING btree (name);


--
-- Name: ix_projects_name; Type: INDEX; Schema: public; Owner: pouser
--

CREATE INDEX ix_projects_name ON public.projects USING btree (name);


--
-- Name: ix_purchase_orders_po_number; Type: INDEX; Schema: public; Owner: pouser
--

CREATE UNIQUE INDEX ix_purchase_orders_po_number ON public.purchase_orders USING btree (po_number);


--
-- Name: ix_purchase_orders_status; Type: INDEX; Schema: public; Owner: pouser
--

CREATE INDEX ix_purchase_orders_status ON public.purchase_orders USING btree (status);


--
-- Name: ix_sites_name; Type: INDEX; Schema: public; Owner: pouser
--

CREATE INDEX ix_sites_name ON public.sites USING btree (name);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: pouser
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_vendors_name; Type: INDEX; Schema: public; Owner: pouser
--

CREATE INDEX ix_vendors_name ON public.vendors USING btree (name);


--
-- Name: approval_steps approval_steps_approver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.approval_steps
    ADD CONSTRAINT approval_steps_approver_id_fkey FOREIGN KEY (approver_id) REFERENCES public.users(id);


--
-- Name: approval_steps approval_steps_delegated_from_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.approval_steps
    ADD CONSTRAINT approval_steps_delegated_from_id_fkey FOREIGN KEY (delegated_from_id) REFERENCES public.users(id);


--
-- Name: approval_steps approval_steps_purchase_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.approval_steps
    ADD CONSTRAINT approval_steps_purchase_order_id_fkey FOREIGN KEY (purchase_order_id) REFERENCES public.purchase_orders(id);


--
-- Name: audit_logs audit_logs_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.users(id);


--
-- Name: audit_logs audit_logs_purchase_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_purchase_order_id_fkey FOREIGN KEY (purchase_order_id) REFERENCES public.purchase_orders(id);


--
-- Name: budget_categories budget_categories_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.budget_categories
    ADD CONSTRAINT budget_categories_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: budget_categories budget_categories_site_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.budget_categories
    ADD CONSTRAINT budget_categories_site_id_fkey FOREIGN KEY (site_id) REFERENCES public.sites(id);


--
-- Name: purchase_orders fk_po_budget_category_id; Type: FK CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT fk_po_budget_category_id FOREIGN KEY (budget_category_id) REFERENCES public.budget_categories(id);


--
-- Name: purchase_orders fk_po_site_id; Type: FK CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT fk_po_site_id FOREIGN KEY (site_id) REFERENCES public.sites(id);


--
-- Name: users fk_users_site_id; Type: FK CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_site_id FOREIGN KEY (site_id) REFERENCES public.sites(id);


--
-- Name: po_attachments po_attachments_purchase_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.po_attachments
    ADD CONSTRAINT po_attachments_purchase_order_id_fkey FOREIGN KEY (purchase_order_id) REFERENCES public.purchase_orders(id);


--
-- Name: po_attachments po_attachments_uploaded_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.po_attachments
    ADD CONSTRAINT po_attachments_uploaded_by_id_fkey FOREIGN KEY (uploaded_by_id) REFERENCES public.users(id);


--
-- Name: po_line_items po_line_items_purchase_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.po_line_items
    ADD CONSTRAINT po_line_items_purchase_order_id_fkey FOREIGN KEY (purchase_order_id) REFERENCES public.purchase_orders(id);


--
-- Name: purchase_orders purchase_orders_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id);


--
-- Name: purchase_orders purchase_orders_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: purchase_orders purchase_orders_requester_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_requester_id_fkey FOREIGN KEY (requester_id) REFERENCES public.users(id);


--
-- Name: purchase_orders purchase_orders_vendor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_vendor_id_fkey FOREIGN KEY (vendor_id) REFERENCES public.vendors(id);


--
-- Name: users users_delegate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_delegate_id_fkey FOREIGN KEY (delegate_id) REFERENCES public.users(id);


--
-- Name: users users_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: pouser
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id);


--
-- PostgreSQL database dump complete
--

\unrestrict Nxlc7MIg5q0lIonISUvJZC6mLp1vGSbvd1BaCZ9oreNFFtdhCYLniv6sUghPXd2

